/* General settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/* Header / Navbar */
.navbar-mobile {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #808080 1px solid;
    background-color: #fff;
}

.navbar-left-content {
    display: flex;
    align-items: center;
}

nav img {
    margin-top: 0.5rem;
    height: 3.5rem;
    width: auto;
    margin-left: 1.5rem;
}

nav h1 {
    font-weight: 100;
    font-size: 2rem;
}

nav h1 span {
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 1.5rem;
}

nav li {
    margin: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 785px){
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    #signin {
        margin-right: 1.5rem;
    }
}


/* Main */
main {
    margin-top: 4rem;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

span {
    font-weight: bold;
}

/* Learn section */
.learn-section {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
}

.left-learn-section {
    width: 60%;
    margin: 2rem 1.5rem;
}

.left-learn-section img {
    width: 100%;
    height: auto;
}

.right-learn-section {
    color: rgb(96, 95, 95);
}

.right-learn-section p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.right-learn-section a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.right-learn-section a p {
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    transition-duration: 400ms;
}

.right-learn-section a p:hover {
    background-color: #808080;
}

@media only screen and (max-width: 785px) {
    .learn-section {
        flex-direction: column;
        align-items: center;
    }

    .left-learn-section {
        width: 100%;
        margin: 0;
    }

    .right-learn-section {
        margin: 2rem 1rem;
        min-height: 8.4375rem;
        text-align: left;
    }
}

/* Practice Section */
.practice-section {
    background-color: #fff;
    margin: 2rem 0 2rem;
    display: flex;
}

.left-practice-section {
    width: 60%;
    margin: 0 1.5rem 0 1.5rem;
}


.left-practice-section img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.left-practice-section p {
    margin-top: 2rem;
}

.right-practice-section {
    width: 40%;
    border-left: 1px solid #d3d3d3;
}

.orientation-card {
    display: flex;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    align-items: center;
}

.left-orientation-card {
    width: 35%;
    margin: 1rem;
}

.left-orientation-card img {
    width: 100%;
    height: auto;
}

.right-orientation-card p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.right-orientation-card a {
    color: rgb(50, 115, 136);
    font-weight: 600;
    text-decoration: none;
}

