/* General settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/* Header / Navbar */
.navbar-mobile {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #808080 1px solid;
    background-color: #fff;
}

.navbar-left-content {
    display: flex;
    align-items: center;
}

nav img {
    margin-top: 0.5rem;
    height: 3.5rem;
    width: auto;
    margin-left: 1.5rem;
}

nav h1 {
    font-weight: 100;
    font-size: 2rem;
}

nav h1 span {
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 1.5rem;
}

nav li {
    margin: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 785px){
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    #signin {
        margin-right: 1.5rem;
    }
}


/* Main */
main {
    margin-top: 4rem;
}

main h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

span {
    font-weight: bold;
}

/* Learn section */
.learn-section {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
}

.left-learn-section {
    width: 60%;
    margin: 2rem 1.5rem;
}

.left-learn-section img {
    width: 100%;
    height: auto;
}

.right-learn-section {
    color: rgb(96, 95, 95);
}

.right-learn-section p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.right-learn-section a {
    text-align: center;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.right-learn-section a p {
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: rgb(95, 95, 95);
    transition-duration: 400ms;
}

.right-learn-section a p:hover {
    background-color: #808080;
}

@media only screen and (max-width: 785px) {
    .learn-section {
        flex-direction: column;
        align-items: center;
    }

    .left-learn-section {
        width: 100%;
        margin: 0;
    }

    .right-learn-section {
        margin: 2rem 1rem 2rem 1rem;
        min-height: 8.4375rem;
        text-align: left;
        width: 100%;
        padding: 0 1rem 0 1rem; 
        min-width: 410px;
    }
}

/* Practice Section */
.practice-section-mobile {
    display: none;
}

.practice-section-desktop {
    background-color: #fff;
    margin: 2rem 0 4rem;
    display: flex;
}

.left-practice-section {
    width: 60%;
    margin: 0 1.5rem 0 1.5rem;
    color: rgb(96, 95, 95);
}


.left-practice-section img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.left-practice-section p {
    margin-top: 2rem;

}

.right-practice-section {
    width: 40%;
    color: rgb(96, 95, 95);
}

.info-card {
    display: flex;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    align-items: center;
}

.left-info-card {
    width: 35%;
    margin: 1rem;
}

.left-info-card img {
    width: 100%;
    height: auto;
}

.right-info-card p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.right-info-card a {
    color: rgb(50, 115, 136);
    font-weight: 600;
    text-decoration: none;
}

#author {
    margin-bottom: 2rem;
}

@media only screen and (max-width: 785px) {
    .practice-section-desktop {
        display: none;
    }

    .practice-section-mobile {
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 2rem 1rem;
        color: rgb(96, 95, 95);
    }

    .info-card-mobile {
        margin-bottom: 4rem;
    }

    .info-card-mobile img {
        width: 100%;
        height: auto;
    }

    .info-card-mobile-text {
        margin-left: 1rem;
    }

    .info-card-mobile-text h2{
        margin-top: 2rem;
    }

    .info-card-mobile-text p{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .info-card-mobile-text a {
        color: rgb(50, 115, 136);
        font-weight: 600;
        text-decoration: none;
    }

    #last-info-card-mobile {
        margin-bottom: 0;
    }
}

/* Start Learning Section*/
.start-learning-section-mobile {
    display: none;
}

.start-learning-section-desktop {
    background-color: #cadbec;
    padding: 2rem 4.5rem;

}

.headline-start-learning h1{
    text-align: center;
    color: rgb(96, 95, 95);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;

}

.lesson-card {
    background-color: #fff;
    overflow: hidden;
    flex: 1 calc(33.33% - 2rem);
}

.lesson-card img {
    width: 100%;
    height: auto;
}

.lesson-content {
    padding: 1rem;
    color: rgb(96, 95, 95);
}

.lesson-content p {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 785px) {
    .start-learning-section-desktop {
        display: none;
    }

    .start-learning-section-mobile {
        display: block;
        padding: 2rem 1rem;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }

    .start-learning-section-mobile h1 {
        text-align: center;
        color: rgb(96, 95, 95);
    }

    .card-container-mobile {
        margin: 1rem 0 2rem;
        color: rgb(96, 95, 95);
    }

    .card-container-mobile h2 {
        padding: 1rem 1rem 1.5rem;
        background-color: #d3d3d3;
        border-radius: 5px;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .card-container-mobile h2:hover {
        background-color: #a9a9a9;
        transition-duration: 400ms;
        cursor: pointer;
    }
}

/* Thesis section */
.thesis-section-desktop {
    padding: 2rem 0 2rem 1.5rem;
    border-bottom: 1px solid #d3d3d3;
}

.thesis-section-mobile {
    display: none;
}

.thesis-section-desktop h1 {
    text-align: center;
    color: rgb(96, 95, 95);
}

.thesis-section-content {
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.thesis-left {
    width: 60%;
    color: rgb(96, 95, 95);
    margin-right: 1.5rem;

}

.thesis-left video {
    width: 100%;
    height: auto;
}

.thesis-left-content {
    margin-top: 1.5rem;
}

.thesis-left-content p {
    margin-top: 0.5rem;
}

.thesis-right {
    width: 40%;
}

.thesis-card {
    display: flex;
    align-items: center;
    color:rgb(96, 95, 95);
}

#card-fisma {
    background-color: #d3d3d3;
}

#card-nowandthen {
    border-left: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.thesis-card-left {
    width: 35%;
    margin: 1rem;
}

.thesis-card-left img {
    width: 100%;
    height: auto;
}

.thesis-card-right {
    width: 65%;
}

.thesis-card-right p {
    margin-top: 1rem;
}

@media only screen and (max-width: 785px) {
    .thesis-section-desktop {
        display: none;
    }

    .thesis-section-mobile {
        display: block;
        margin: 2rem 0 1.5rem;
    }

    .thesis-section-mobile h1 {
        text-align: center;
        color: rgb(96, 95, 95);
    }

    .thesis-section-mobile video {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .thesis-section-mobile p {
        margin: 1rem 1.5rem 1rem;
    }
}


