/* General settings */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

/* Header / Navbar */
.navbar-mobile {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #808080 1px solid;
    background-color: #fff;
}

.navbar-left-content {
    display: flex;
    align-items: center;
}

nav img {
    margin-top: 0.5rem;
    height: 3.5rem;
    width: auto;
    margin-left: 1.5rem;
}

nav h1 {
    font-weight: 100;
    font-size: 2rem;
}

nav h1 span {
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 1.5rem;
}

nav li {
    margin: 0.5rem;
}

nav a {
    text-decoration: none;
    color: #000;
}

@media only screen and (max-width: 785px){
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
    }

    #signin {
        margin-right: 1.5rem;
    }
}


/* Main */
main {
    margin-top: 4rem;
}

/* Landing Page */
.top-section {
    display: flex;
    width: 100%;
    align-items: center;
    background: #d3d3d3d3;
}

.top-section img {
    width: 60%;
    height: auto;
    margin: 2rem 1.5rem;
}

.top-content-text {
    margin-right: 12rem;
    margin-left: 2.5rem;
}

.top-content-text h1 {
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.top-content-text h4 {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}

.top-content-text p {
    text-align: center;
    background-color: #808080;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition-duration: 400ms;
    border-radius: 4px;
    color: #fff;
}

.top-content-text p:hover {
    background-color: #a9a9a9;
}

.top-content-text a {
    text-decoration: none;
}

@media only screen and (max-width: 785px) {
    .top-section {
        display: flex;
        flex-direction: column;
    }

    .top-section img {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    .top-content-text {
        margin: 2rem 1rem;
    }

    .top-content-text h1 {
        margin-bottom: 2rem;
    }

    .top-content-text h4 {
        margin-bottom: 1.5rem; 
    }

}

/* Practicing Section */
.practice-section {
    margin: 2rem 0rem 2rem 1.5rem;
}

